# SPDX-FileCopyrightText: 2026 Rishvic Pushpakaran
#
# SPDX-License-Identifier: MIT

# Generated source files
/src/*.json
/src/parser.c
/src/tree_sitter/*

# Bindings
/bindings/**

# Lock files
Cargo.lock
package-lock.json
go.sum
Package.resolved
